body{
	text-align: center;
	background-image: url(images/stylishdesk1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

h1{
	font-family: 'Philosopher', sans-serif;
	font-size: 72px;
	color: gray;
}

p{
	font-family: Verdana;
	font-size: 40px;
	color: gray;
}

hr{
	width:	600px;
}

h3{
	font-size: 30px;
	font-family: 'Philosopher', sans-serif;
	color: gray;
	text-decoration: underline;
}

ul{
	font-size: 30px
	font: Verdana;
	color: gray;
	list-style-type: none;	
}

