header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
}

p {
  display: block;
}

a {
  color: black;
}

body {
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding: 40px;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
}

.content {
  display: flex;
  padding-top: 120px;
}

.champagne {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  display: flex;
  font-size: 40px;
  height: 300px;
  width: 630px;
}

.fall {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  margin-top: 15px;
  color: white;
  height: 300px;
  justify-content: center;
  text-align: center;
}

.hipster {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  margin-top: 15px;
  color: white;
  height: 300px;
  justify-content: center;
  text-align: center;
}

.cat {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia;
  margin-top: 15px;
  color: white;
  height: 300px;
  justify-content: center;
  text-align: center;
}

.story {
  display: flex;
  flex-direction: column;
  }


.img-title {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.column.large {
  width: 630px;
  border: 1px solid black;
}

.articles {
  display: flex;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 15px;
}

.column.medium {
  width: 300px;
  border: 1px solid black;
}

.column.small {
  width: 240px;
  border: 1px solid black;
}

.img.cookie {
  height: 240px;
}

.news-bites {
  margin-bottom: 41px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.news-bites .bite {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  font-size: 12px;
  text-align: center;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

#footer {
 bottom: 0;
 height: 100px;
 left: 0;
 position: fixed;
 width: 100%;
 background-color: MediumAquamarine;
 margin: auto;
 font-family: Verdana;
 font-size: 12px;
}

.footer .title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
